* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Fira Sans Condensed', sans-serif;
}

body {
    background-color: #fffcf9;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 40px 70px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffcf9;
}

.logo {
    font-size: 1.3rem;
}

.logo span {
    font-size: 2.5rem;
    color: #ffbc1f;
}

header.scrolls {
    position: fixed;
    top: 0;
    padding: 15px;
    padding-left: 15px;
    color: #333;
    background-color: #fffcf9;
    transition: 0.5s;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.menu-toggle {
    display: none;
    height: 20px;
    width: auto;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.menu-toggle div:last-child h2 {
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.menu-toggle span {
    width: 24px;
    border: 1px solid #fffcf9;
    background-color: #fffcf9;
    margin: 3px 0;
}

header.scrolls .menu-toggle div:last-child h2 {
    color: rgba(0, 0, 0, 0.8);
}

header.scrolls .menu-toggle span {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

header.active .menu-toggle span {
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    transition: 1s;
}

header.active .menu-toggle div:last-child h2 {
    color: rgba(0, 0, 0, 0.8);
    transition: 1s;
}

.menu {
    width: 40%;
    height: 100%;
    padding: 0.8rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu.active {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fffcf9;
    transition: 0.5s;
    z-index: 1;
}

.menu li {
    display: inline-block;
    padding: 10px;
    line-height: 0.5rem;
    margin-right: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
}

.menu li.active {
    line-height: 2rem;
    padding-bottom: 0px;
    padding-top: 20px;
}

.menu li.active a{
    font-weight: 500;
    color: #333;
}

.menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fffcf9;
}

header.scrolls .menu li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.menu li:hover {
    border-bottom: 2px solid  #ffbc1f;
}

.menu li.active:hover {
    border-bottom: 2px solid rgba(30 ,30, 30, 1)
}

header.scrolls .menu li:hover {
    border-bottom: 2px solid rgba(30 ,30, 30, 1);
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
}

#home {
    background-image: url('img/backgrounds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:  #fffcf9;
}

#home .intro {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
}

#home .intro h1 {
    font-size: 4rem;
    margin-bottom: 30px;
}

#home .intro h1 span{
    color: #ffbc1f;
}

#home .intro p span{
    color: #ffbc1f;
}

#home .intro p {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 300;
}

#home .buttons {
    display: flex;
    margin-top: 50px;
}

#home .buttons #linkedinBtn {
    background: transparent;
    width: 150px;
    height: 50px;
    color: #ffbc1f;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #ffbc1f;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 2px;
}

#home .buttons #linkedinBtn:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px 5px rgba(255, 190, 15, 0.3);
}

#home .buttons #hireBtn {
    background-color: #ffbc1f;
    width: 150px;
    height: 50px;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid #ffbc1f;
    border-radius: 10px;
    transition: 0.3s;
    margin-right: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}

#home .buttons #hireBtn:hover{
    transition: 0.3s;
    box-shadow: 0 0 15px 5px rgba(255, 190, 15, 0.3);
}

@media screen and (max-width: 900px){
    .menu {
        width: 60%;
    }
}

@media screen and (max-width: 650px){
    header {
        padding: 20px 40px;
    }

    .menu{
        position: absolute;
        width: 0;
        right: 0;
        overflow: hidden;
    }

    .menu-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 7px;
    }

    #home .intro {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 30px;
    }

    #home .intro h1 {
        font-size: 3.3rem;
    }
    
    #home .intro p {
        font-size: 1.3rem;
    }
}
